/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #242B33;
  color: #fff;
  font-size: 16px;
}

a {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:hover {
  color: #D4C17F;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}
.container--small {
  max-width: 840px;
}

.text-right {
  text-align: right;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  white-space: nowrap;
}

.title-2 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
}
@media screen and (max-width: 959px) {
  .title-2 {
    font-size: 28px;
  }
}

.link-bold {
  color: #D4C17F;
  font-weight: 700;
}

.none {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url(./../img/header/header-bg.jpg);
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url(./../img/header/header-bg.jpg);
  padding: 30px 0 74px 0;
}
@media screen and (max-width: 959px) {
  .header {
    min-height: unset;
    row-gap: 50px;
  }
}

.header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-row--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  row-gap: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242B33;
  z-index: 9;
  opacity: 95%;
  padding: 40px 0 40px 0;
}
.header-top-row--mobile .header-top-nav {
  display: block;
}
.header-top-row--mobile .nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
.header-top-row--mobile .header-top-nav-btn {
  position: fixed;
  top: 50px;
  right: 15px;
}

.header-title {
  position: relative;
  text-align: center;
  font-size: 48px;
  font-family: "Playfair Display", serif;
  color: #D4C17F;
  font-weight: 700;
  padding-bottom: 121px;
}
@media screen and (max-width: 959px) {
  .header-title {
    font-size: 32px;
    padding-bottom: 100px;
  }
}

.header-title-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header-footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .header-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

@media screen and (max-width: 959px) {
  .header-top-nav {
    display: none;
  }
}

.header-top-nav-btn {
  display: none;
}
@media screen and (max-width: 959px) {
  .header-top-nav-btn {
    display: block;
  }
}

.nav {
  font-size: 14px;
  letter-spacing: 0.05em;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.header-footer-info {
  position: relative;
  font-size: 18px;
  padding-left: 35px;
}
.header-footer-info::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.header-footer-info--map::before {
  background-image: url("./../img/header/map.svg");
}
.header-footer-info--tel::before {
  background-image: url("./../img/header/phone.svg");
}
@media screen and (max-width: 959px) {
  .header-footer-info {
    font-size: 14px;
    padding-left: 26px;
  }
}

.benefits {
  position: relative;
  padding: 120px 0;
  overflow: hidden;
}
.benefits::after {
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  line-height: 1.2;
  content: "II";
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.benefits-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media screen and (max-width: 959px) {
  .benefits-row {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits-item {
  text-align: center;
}

.benefits-item-icon {
  margin-bottom: 53px;
}
@media screen and (max-width: 959px) {
  .benefits-item-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits-item-desc {
  font-size: 20px;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media screen and (max-width: 959px) {
  .benefits-item-desc {
    font-size: 16px;
  }
}

.apartments {
  position: relative;
}
.apartments:before {
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  line-height: 1;
  content: "III";
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.apartments-title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .apartments-title {
    margin-bottom: 44px;
  }
}

.apartments-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .apartments-cards {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.card {
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242B33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%);
}
.card::after {
  opacity: 0;
  content: "";
  position: absolute;
  z-index: 7;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double rgba(255, 255, 255, 0.4);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.card:hover::after {
  opacity: 1;
}
.card:hover {
  color: #fff;
}
.card:hover .card-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: contrast(110%) brightness(1.2) saturate(1.2);
          filter: contrast(110%) brightness(1.2) saturate(1.2);
}

.card-img {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  z-index: 5;
}

.card-title {
  position: absolute;
  z-index: 8;
  left: 50px;
  right: 20px;
  bottom: 44px;
  font-size: 24px;
}
@media screen and (max-width: 959px) {
  .card-title {
    font-size: 20px;
    left: 30px;
    bottom: 30px;
  }
}

.cta {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242B33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242B33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(./../img/main/city.jpg), #C4C4C4;
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(./../img/main/city.jpg), #C4C4C4;
  padding: 180px 0;
}
@media screen and (max-width: 959px) {
  .cta {
    padding: 60px 0;
  }
}

.cta-title {
  margin-bottom: 17px;
}

.cta-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .cta-row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.cta-text {
  line-height: 1.5;
}
.cta-text p + p {
  margin-top: 1em;
}
@media screen and (max-width: 959px) {
  .cta-text {
    font-size: 14px;
  }
}

.form-input {
  height: 50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 14px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form-input::-webkit-input-placeholder {
  color: #BEBEBE;
}
.form-input::-moz-placeholder {
  color: #BEBEBE;
}
.form-input:-ms-input-placeholder {
  color: #BEBEBE;
}
.form-input::-ms-input-placeholder {
  color: #BEBEBE;
}
.form-input::placeholder {
  color: #BEBEBE;
}
.form-input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.form-button {
  height: 50px;
  padding: 12px;
  background-color: #D4C17F;
  color: #fff;
  font-weight: 700;
  text-align: center;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.form-button:hover {
  background-color: #ddc676;
}

.form-privacy {
  font-size: 13px;
  line-height: 1.23;
  color: #E7E7E7;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 959px) {
  .privacy-bottom {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.cta-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;
}
@media screen and (max-width: 959px) {
  .cta-form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.video {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.video:after {
  left: calc(50% + 555px);
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  line-height: 1.5;
  content: "IV";
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}

.video-link {
  position: relative;
  display: inline-block;
  text-align: center;
}
.video-link::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 43, 51, 0.8);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.video-link:hover::before {
  background-color: rgba(36, 43, 51, 0.7);
}
.video-link:hover .play-icon {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.5);
          filter: saturate(1.5);
}

.play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 959px) {
  .play-icon {
    width: 80px;
    height: 80px;
  }
}

.section-map {
  padding: 180px;
  position: relative;
}
.section-map:before {
  right: calc(50% + 555px);
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
  line-height: 1.9;
  content: "V";
  z-index: -1;
  position: absolute;
  top: 0;
  opacity: 0.02;
  font-size: 400px;
  font-family: "Playfair Display", serif;
}
@media screen and (max-width: 959px) {
  .section-map {
    padding: 90px 0;
  }
}

.section-map-title {
  margin-bottom: 88px;
}
@media screen and (max-width: 959px) {
  .section-map-title {
    margin-bottom: 44px;
  }
}

.map {
  height: 358px;
  background-color: #626262;
}

.feedback {
  padding-bottom: 180px;
}
@media screen and (max-width: 959px) {
  .feedback {
    padding-bottom: 90px;
  }
}

.feedback-title {
  margin-bottom: 38px;
}
@media screen and (max-width: 959px) {
  .feedback-title {
    margin-bottom: 30px;
  }
}

.feedback-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .feedback-form {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer {
  background-color: #2D343C;
  padding: 72px 0 51px 0;
  font-size: 14px;
  letter-spacing: 0.05rem;
}
@media screen and (max-width: 959px) {
  .footer {
    padding: 36px 0 25px 0;
  }
}

.footer-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 959px) {
  .footer-row {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.footer-logo {
  margin-top: -12px;
}

.footer__nav-list {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.footer-address {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

[class*=copyrights-pane] {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.map:hover [class*=copyrights-pane] {
  opacity: 1;
}

[class*=gototech] {
  display: none !important;
}

[class*=ground-pane] {
  -webkit-filter: grayscale(1) sepia(10%);
          filter: grayscale(1) sepia(10%);
}

/* Baloon */
[class*=balloon__layout], [class*=balloon__content] {
  background-color: #242b33 !important;
  color: #fff !important;
}

[class*=balloon__tail]::after {
  background-color: #242b33 !important;
}

[class*=balloon_layout_panel] {
  background-color: #242b33 !important;
}

[class*=balloon__layout], [class*=balloon__content] a {
  color: #D4C17F !important;
}

[class*=balloon__close-button] {
  background: url("./../img/map/cross.svg") 50% no-repeat !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px 7px;
}