.form{

}
.form-input{
  height:50px;
  padding: 12px;
  text-align: center;
  background-color: rgba(255,255,255, 0.2);
  color: $white;
  font-size: 14px;

  transition: background-color 0.2s ease-in;

  &::placeholder{
    color: $placeholder;
  }

  &:focus{
    background-color: rgba(255,255,255, 0.3);
  }
}

.form-button{
  height: 50px;
  padding: 12px;
  background-color: $accent;
  color: $white;
  font-weight: 700;
  text-align: center;

  transition: background-color 0.2s ease-in;

  &:hover{
    background-color: saturate($accent, 10%);
  }
}

.form-privacy{
  font-size: 13px;
  line-height: 1.23;
  color: $privacy;
  text-align: center;
  align-self: center;

}
.privacy-bottom{
  @include mediaTablet{
    grid-row: 4 / 5;  //меняет расположение ряда в сетке
  }
}

.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 35px 30px;

  @include mediaTablet{
    grid-template-columns: 1fr;
  }
}