@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

body{
  font-family: $font-main;
  background-color: $dark;
  color: $white;
  font-size: 16px;
}

a{
  color: $white;
  transition: all 0.2s ease;

  &:hover{
   color: $accent;
  }
}

.container{
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;

  &--small{
    max-width: 840px;
  }
}

.text-right{
  text-align: right;
}

.visually-hidden{
 width: 1px;
 height: 1px;
 overflow: hidden;

  position: absolute;

  clip: rect(1px,1px,1px,1px);
  clip: rect(1px 1px 1px 1px);
  clip-path: inset(50%);

  white-space: nowrap;
}

.title-2{
  font-size: 36px;
  font-family: $font-accent;
  color: $accent;
  font-weight: 700;

  @include mediaTablet{
    font-size: 28px;
  }
}

.link-bold{
  color: $accent;
  font-weight: 700;
}

.none{
  display: none;
}